@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
  }
  /*..\Resources\font\Roboto-Medium.ttf"*/
  @font-face {
    font-family: Roboto-Medium;
    src: url(Roboto-Medium.ttf);
  }

  

  @font-face {
    font-family: Roboto-Thin;
    src: url(Roboto-Thin.ttf);
  }


#personalPane{
    -fx-background-color: #FFFFFF;
}

#personalInternalPane{
    -fx-background-color: #009688;
}

#fontRegistro{
    -fx-text-fill:white;
    -fx-font-size: 34px;
    -fx-font-family: 'Roboto-Medium';
}

#campoDeTexto{
    -fx-pref-width	: 328px;
    -fx-pref-height :53px;
  
}

#botones{
    -fx-background-color: #009688;
    -fx-pref-width	: 400px;
    -fx-pref-height :100px;
    -fx-text-fill:white;
}

#botonesArchivos{
    -fx-background-color: #009688;
    -fx-pref-width	: 216px;
    -fx-pref-height :33px;
    -fx-text-fill:white;
}